#game2
{
  
  margin-left:53px;
  border:1px solid rgb(255, 0, 255);
  width:90%;
  color:rgb(0, 0, 0);
  border-radius: 2%;
  background:-moz-linear-gradient(rgba(76, 0, 255, 0.438),rgba(250, 6, 47, 0.301),rgba(0, 255, 0, 0.192));

}