/*
     Arthur Antoine Price this my website 6/22/2022
*/
.wrapper
{
  margin: 0 auto 0 auto;
  width:1710px;
  background-color:rgba(12, 0, 12, 0.473);
  border-top: 10px sold rgba(0, 0, 0, 0.767);
  border-radius:15px ;
  box-shadow:5px 5px 30px 7px #5c04cfe1;
}
#intro
{

   color:rgb(2, 250, 2);

  }
hr.one
{
 border:none;
 height:20px;
 background:rgb(208, 255, 0);
}


body
{
  background-image:linear-gradient(rgba(20, 2, 66, 0.589), #013005c4),url(wallpaper.jpg);
  background-position: center;
  background-size:contain;
  color:white;
  height:1000px;
}

#page
{
  text-align:center;
   
}

ul
{
  box-shadow:2px 2px 10px #5c04cfe1;
  width:89%;
  position:fixed;
  list-style-type:none;
  margin:0;
  padding:0;
  top:10px;
  border-radius: 10px;
  overflow:hidden;
  background:linear-gradient(to right,rgba(1, 250, 13, 0.596),rgba(255, 0, 0, 0.726),rgba(3, 255, 37, 0.589));
  background-size: cover;
}

li a
{
 display:block;
 width:60px ;
 padding:14px 16px;
 text-align:center;
 color:rgba(255, 255, 255, 0.979);
 text-decoration:none
}

li a:hover
{
 background-color:rgba(255, 1, 1, 0.274);
 color:rgba(10, 1, 1, 0.952);
 border-radius:10px
}

li
{
  float:right;
  border-radius: 10px;
  border:1px solid rgb(212, 0, 255) ;
}


.active
{
  background:rgb(5, 233, 233);
  color:rgb(255, 255, 255);
  border-radius: 10px;
}